<app-navbar></app-navbar>
  <div class="container">
    
  <div class="img_container">
    ¡INICIA SESIÓN EN <b>  SKY TRIP</b>!
    <div class="img_login">
    <img src="../assets/img/backpack.png" alt="Image planet">
    </div>
    </div>
  
  
  <div class="contents_container">
    <form >
      <input class="form-control" type="email" placeholder="Email" aria-label="default input example">
      <!-- <span> No se puede ingresar caracteres especiales</span> -->
          <input class="form-control" type="text" placeholder="Contraseña" aria-label="default input example">
          <!-- <span> No se puede ingresar caracteres especiales</span> -->
          
          <button class="btn btn-primary form-control">Iniciar Sesión </button>
          
        </form>
      </div>
      
  
    </div>
