<app-navbar></app-navbar>
  <div class="container">

  <div class="img_container">
    ¡INICIA SESIÓN EN <b>  SKY TRIP</b>!
    <div class="img_login">
    <img src="../assets/img/backpack.png" alt="Image planet">
    </div>
    </div>


  <div class="contents_container">
    <form [formGroup]="loginForm"  (ngSubmit)="login()" >
      <input formControlName="email" class="form-control" type="email" placeholder="Email" aria-label="default input example">

      <!-- <span> No se puede ingresar caracteres especiales</span> -->
          <input formControlName="password" class="form-control" type="password" placeholder="Contraseña" aria-label="default input example">
          <!-- <span> No se puede ingresar caracteres especiales</span> -->


            <select  formControlName="role" class="form-select" aria-label="Default select example">
              <option selected> Rol </option>
              <option value="a"> Usuario</option>
              <option value="b"> Administrador</option>
              <option value="c"> Niñera</option>
            </select>

          <button class="btn btn-primary form-control"> Iniciar Sesión  </button>
          <div id="my-signin2" style="margin-top: 5%;margin-left: 17%;" ></div>
        </form>
          <p style="margin-top:8%">¿No tienes una cuenta? | Haz <a [routerLink]="['/register']" routerLinkActive="router-link-active" >click aquí</a> para crear una </p>
      </div>


    </div>
