@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
p, h2{
  font-family: 'Fredoka', sans-serif;
}

.new_trip {
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* size */
  width: 73%;
  height:1500px;
  position: absolute;
  left: 340px;
  margin: 2.5vw;
  /* color */
  border-radius: 15px;
  /* background-color: #dadada; */
  background-color: #e7e7e7;


}

.title_trips {
  display: flex;
  justify-content: center;

  /* border: 3px salmon solid; */
}


.title_trips h2 {
  color: black;
  font-weight: 400;
  font-family: 'Fredoka', sans-serif;
}

.trips_divs {
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* border: 5px rgb(38, 123, 233) solid; */
  min-height: 50%;
  max-height: 75%;
  margin: 15px;
}

/* add new trip */
.add_trip {
  display: flex;
  flex-direction: column;
  align-self: center;
  /* border: 6px purple solid; */
  height: 60%;
  min-width: 20%;
  max-width: 35%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

.add_trip img {
  max-width: 35%;
  max-height: 60%;

}
.add_trip h4 {
  text-align: center;
  margin-top: 5px;
  min-width: 50%;
  max-width: 75%;
  min-height: 10%;
  max-height: 30%;
  font-size: 70%;
  overflow: hidden;
}

/* older trips */
.default_div {
  display: flex;
  flex-direction: column;
  row-gap: 5%;
  min-width: 20%;
  max-width: 35%;
  min-height: 40%;
  max-height: 100%;
  background-color: white;

}

.default_div img {
  /* background-size: cover; */
  min-width: 60%;
  max-width: 100%;
  min-height: 10%;
  max-height: 55%;
}
.default_div p {
  min-width: 60%;
  max-width: 100%;
  min-height: 20%;
  max-height: 42%;
  font-size: 1.4vw;
  overflow: auto;
  text-align: center;
  margin: 0;
  color: black;
}

.container_plan{
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  height: 10000px;
  margin-left: 20px;
  margin-right: 20px;
  width: 1070px;
  
}
div{
  background-color: rgb(255, 255, 255);
  width: 400px;
  margin-left: 50px;

}
div img{
  background-color: rgb(255, 255, 255);
  width: 400px;
  

}
.write_plan{
  background-color: aliceblue;
  border-radius:15px;
  padding: 10px;
  text-decoration: none;

}
a {
  
text-decoration: none;

}
a:hover{
color: rgb(25, 163, 163);


}
td {
  height: 200px;




}