<section class="form_newtrip">
  <form action="" class="form_here">

    <fieldset class="nam_newtrip">
      <legend> Nombre del Viaje </legend>
      <input type="text" placeholder="Nombre Nuevo Viaje...">
    </fieldset>

    <fieldset >
      <legend> Lugar de Destino</legend>
      <div class="destiny">
        <input type="text" placeholder="De dónde vienes...">
        <input type="text" placeholder="A dónde vas...">
      </div>
    </fieldset>

    <fieldset >
      <legend>Fecha</legend>

      <div class="calender">

        calender...



      </div>
    </fieldset>

    <fieldset >
      <legend>Pasajeros</legend>

      <div>
        <input type="text" placeholder="Cuántas personas van...">
      </div>

    </fieldset>

    <fieldset >
      <legend>Presupuesto</legend>
      <div>
        <input type="text" placeholder="Tu presupuesto...">
      </div>
    </fieldset>

    <fieldset >

      <p>¿Quieres añadir una lista de deseos? <br>
        Puedes añadirla cuando lo desees!</p>

      <div>
        <input type="radio" id="yeslist" name="answ" value="Yes">
        <label for="huey">Si</label>
      </div>

      <div>
        <input type="radio" id="nolist" name="answ" value="No">
        <label for="dewey">No</label>
      </div>


    </fieldset>

    <div class="bottom_sub">
      <button type="submit">Submit</button>
    </div>

  </form>




</section>
