.abc{
  /* position: fixed; */
  /* width: 100%; */
  /* display: flex;
  justify-content: center;
  position: relative;
  background-color: aqua;
  left: 300px;
  width: 900px;
  min-height: 480vh;
  max-height: 780vh;
  margin: 20px; */
  /* background: linear-gradient(  #00ff88,#00a2ff ); */
  /* left: 280px; */

}
