<section id="hero">

  <div class="hero-text" data-aos="zoom-out">
    <h2>Bienvenido a Skytrip</h2>
    <p>Tu planificador de viajes al alcance de un click</p>
    <a routerLink="/register" class="btn-get-started scrollto">Regístrate</a>
  </div>

  <div class="product-screens">

    <div class="product-screen-1" data-aos="fade-up" data-aos-delay="400">
      <img src="../../../../../assets/img/screen-1 (1).jpg" alt="">
    </div>

    <div class="product-screen-2" data-aos="fade-up" data-aos-delay="200">
      <img src="../../../../../assets/img/img 2.jpg" alt="">
    </div>

    <div class="product-screen-3" data-aos="fade-up">
      <img src="../../../../../assets/img/img 3 (1).jpg" alt="">
    </div>

  </div>

</section><!-- End Hero Section -->
