<section class="side-bar">

  <div class="logo-prin">
     <a [routerLink]="['/sesion']" routerLinkActive="router-link-active" > <img class="icons" src="assets/img/logo3.1.png" alt="logo"> </a>
  </div>
  <div class="side-options">

    <div class="side-icolink">
      <img class="icons" src="assets/img/icon1.png" alt="icon1">
      <a [routerLink]="['/newtrip']">Crear Viaje</a>
    </div>
    <div class="side-icolink">
      <img  src="assets/img/icon2.png" alt="icon2" class="icons">
      <a style="cursor:pointer" (click)="process()">Consultar Lugares</a>
    </div>
    <div class="side-icolink">
      <img src="assets/img/icon3.png" alt="icon3" class="icons">
      <a style="cursor:pointer" (click)="process()">Convertir Moneda</a>
    </div>
    <div class="side-icolink">
      <img src="assets/img/icon4.png" alt="icon4" class="icons">
      <a [routerLink]="['/othertrips']">Ver otros Viajes</a>

    </div>
    <div class="side-icolink">
      <img src="assets/img/icon5.png" alt="icon5" class="icons">
      <a [routerLink]="['/publictrip']" routerLinkActive="router-link-active" >Publicar Viaje</a>
    </div>
    <div class="side-icolink">
      <img  src="assets/img/icon6.png" alt="icon6" class="icons">
      <a [routerLink]="['/plan']" routerLinkActive="router-link-active" >Planes Turísticos</a>
    </div>
    <div class="side-icolink">
      <img src="assets/img/icon7.png" alt="icon7" class="icons">
      <a [routerLink]="['/nana']" routerLinkActive="router-link-active" >Niñeras</a>
    </div>
    <div class="side-icolink">
      <img src="assets/img/usuario-de-perfil.png" alt="icon7" class="icons">
      <a style="cursor:pointer" (click)="process()">Mi Perfil</a>
    </div>
    <div class="side-icolink">
      <img src="assets/img/cerrar-sesion.png" alt="icon7" class="icons">
      <a style="cursor:pointer;" (click)="logout()" >Cerrar Sesión</a>
    </div>
  </div>
</section>

