
.logo-prin {
  display: flex;
  align-self: center;
  width: 12vw;
  height: 10vh;

}

.logo-prin img {
  width: 100%;
  height: 100%;
}


.side-bar {
  display: flex;
  top: 0;
  left: 0;
  width: 22%;
  height: 100%;
  background: linear-gradient(45deg, rgb(0, 195, 255),  #00e1ff, #06fa2f);
  box-shadow: 8px 1px 15px #cacaca;
  flex-flow: column wrap;
  padding: 20px;
  position: fixed;
  row-gap: 20px;
}

.side-options {
  display: flex;
  flex-flow: column wrap;
  row-gap: 4.5vh;
}

.side-icolink {
  display: flex;
  column-gap: 30px;
  margin: 10px;


}


.side-icolink a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
  font-family: 'Fredoka', sans-serif;
  font-weight: bolder;
  /* font-size: 1.28vw; */
  font-size: 100%;
  text-decoration: none;
}


.icons{
    width: 32px;
    height: 32px;
}



