<app-navbar></app-navbar>
<br><br><br> 
  <section class="side-bar">

     
    <div class="side-options">

      <div class="side-icolink">
      
        <img class="icons" src="assets/img/icon1.png" alt="icon1">
        <a href="#">Planificar Viaje</a>
      </div> 
      <br>
      <div class="side-icolink">
        <img src="assets/img/icon4.png" alt="icon4" class="icons">
        <a href="#">Ver otros Viajes</a>

      </div>      <br>
      <div class="side-icolink">
        <img src="assets/img/icon5.png" alt="icon5" class="icons">
        <a href="#">Publicar Viaje</a>
      </div>      <br>
      <div class="side-icolink">
        <img  src="assets/img/icon6.png" alt="icon6" class="icons">
        <a href="#">Reservar Viaje</a>
      </div>      <br>
      
    </div>
  </section>
     <br> =======> <app-viajes></app-viajes>

