
  <section class="side-bar">

    <div class="logo-prin">
      <img class="icons" src="assets/img/logo3.1.png" alt="logo">
    </div>
    <div class="side-options">

      <div class="side-icolink">
        <img class="icons" src="assets/img/icon1.png" alt="icon1">
        <a href="#">Planificar Viaje</a>
      </div>
      <div class="side-icolink">
        <img  src="assets/img/icon2.png" alt="icon2" class="icons">
        <a href="#">Consultar Lugares</a>
      </div>
      <div class="side-icolink">
        <img src="assets/img/icon3.png" alt="icon3" class="icons">
        <a href="#">Convertir Moneda</a>
      </div>
      <div class="side-icolink">
        <img src="assets/img/icon4.png" alt="icon4" class="icons">
        <a href="#">Ver otros Viajes</a>

      </div>
      <div class="side-icolink">
        <img src="assets/img/icon5.png" alt="icon5" class="icons">
        <a href="#">Publicar Viaje</a>
      </div>
      <div class="side-icolink">
        <img  src="assets/img/icon6.png" alt="icon6" class="icons">
        <a href="#">Planes Turísticos</a>
      </div>
      <div class="side-icolink">
        <img src="assets/img/icon7.png" alt="icon7" class="icons">
        <a href="#">Niñeras</a>
      </div>
    </div>
  </section>


