
    <!-- ======= About Section ======= -->
    <section id="about" class="section-bg">
        <div class="container-fluid" data-aos="fade-up">
          <div class="section-header">
            <h3 class="section-title">Sobre nosotros</h3>
            <span class="section-divider"></span>
            <p class="section-description">
              Planificador de viajes virtuales<br>
              Skytrip
            </p>
          </div>
  
          <div class="row">
            <div class="col-lg-6 about-img" data-aos="fade-right" dat-aos-delay="100">
              <img src="../../../../../assets/img/travel-5219496_1920 (1).jpg" alt="">
            </div>
  
            <div class="col-lg-6 content" data-aos="fade-left" dat-aos-delay="100">
              <h2>Ofrecemos paquetes de viajes de viajes que se adaptan a tu presupuesto y a tus necesidades</h2>
              <h3>Planifica cuándo, dónde y con quién deseas viajar.</h3>
              <p>
                Porque nuestra misión es inspirarte y contribuir a realizar el viaje de tus sueños, además también podrás:
              </p>
  
              <ul>
                <li><i class="bi bi-check-circle"></i> Publicar las fotografías de tus viajes.</li>
                <li><i class="bi bi-check-circle"></i> Utilizar nuestro conversor de moneda.</li>
                <li><i class="bi bi-check-circle"></i> Y si así lo requieres, solicita una niñera local 100% certificada.</li>
              </ul>
  
              <h3>
                Porque con Skytrip tus viajes son como ir al cielo.</h3>
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
  