<div class="header">
    <img src="../../../../../assets/img/logo-nav-bar-removebg-preview (1) (1).png" alt="">
    <h4>Planificador de viajes</h4>
</div>

<div class="content">
    <img src="../../../../../assets/img/backpack.png" alt="">
    <p>Lorem, ipsum dolor sit amet consectetu blanditiis distinctio itaque perspiciatis doloribus nesciunt voluptates dolorum reiciendis, odit, praesentium deleniti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, libero neque ipsa aliquid voluptatum natus dolorem magnam ullam rem non qui, autem, iste nesciunt! Eius, sed. Ipsa ad explicabo unde?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus quae explicabo exercitationem, nihil corporis eligendi veniam cumque. Eum voluptate officiis mollitia soluta, et laborum, impedit aliquam distinctio optio dolor quia?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur itaque vel voluptatum architecto delectus, porro ut sit molestias nam aperiam aliquam dignissimos et, alias cupiditate eaque quod soluta dolores iste!
    </p>
</div>