
<app-sidebar></app-sidebar>



<div class="container">

  <div>
     <h2> Viajes publicados </h2>
  </div>

<div class="container2" >
  <div class="ifnopub" *ngIf="listPubTrips.length == 0">
  <h1>No se han publicado viajes!</h1>
  </div>
  <div class="card-container" id="card2" *ngFor="let item of listPubTrips" >
    <div class="card">
      <figure class="front">
        <div class="front-skew" >
          <h5>{{ item.origin }}, {{ item.destiny }}</h5>
        </div>
        <p class="front-text">
          Nombre: {{ item.name }}
        </p>
        <p class="front-text2">
          Presupuesto: {{ item.budget }}
        </p>
      </figure>

      <figure class="back">


      </figure>
    </div>
  </div>

</div>


</div>

