  <app-sidebar></app-sidebar>
<section class="babysitter">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="../../../../assets/img/nannies/niñera(1).jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Disponible</h5>
          <p class="card-text">Natalia Madero.</p>
          <button type="button" class="btn btn-success">Seleccionar</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="../../../../assets/img/nannies/niñera(1).jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Disponible</h5>
          <p class="card-text"> Martina Ferrer.</p>
          <button type="button" class="btn btn-success">Seleccionar</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="../../../../assets/img/nannies/niñera(1).jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Disponible</h5>
          <p class="card-text">Carolina Padrón</p>
          <button type="button" class="btn btn-success">Seleccionar</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-schedule></app-schedule>

