@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
p, h3{
  font-family: 'Fredoka', sans-serif;
}

.input-group {
  width: auto;
  height: 50px;
  margin: auto;
}
.card {
align-items: center;
text-align: center;
margin: auto;
width: auto;
border-radius: 20px;
display: grid;
grid-auto-rows: 1fr;
}
img{
  width: 150px;
  margin-top: 10px;
}

.babysitter {
  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* size */
  width: 75%;
  height: 85%;
  position: absolute;
  left: 280px;
  margin: 2.5vw;
  /* color */
  border-radius: 15px;
  /* background-color: #dadada; */
  background-color: #e7e7e7;
}




