  <app-sidebar></app-sidebar>
<section class="babysitter">
  <section>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Introduza el país" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
  </div>
  <br>
  <div class="row">
      <div class="card" *[ngIf]="nannyList.length > 0">
      </div>
    </div>
      <div class="card"*ngFor="let _datanannie of nannyList">
        <img src="../../../../assets/img/clients/client-3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{_datanannie.name}} {{_datanannie.lastName}}</p>
          <p class="card-text"> ${{_datanannie.price}}</p>
          <p class="card-text">Edad: {{_datanannie.age}}</p>
        </div>
      </div>
  </section>

</section>
 

  

