<main id="main">
     <!-- ======= More Features Section ======= -->
     <section id="more-features" class="section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h3 class="section-title">Nuestros servicios</h3>
            <span class="section-divider"></span>
            <p class="section-description"></p>
          </div>
  
          <div class="row gy-4">
  
            <div class="col-lg-6">
              <div class="box">
                <div class="icon"><i class="bi bi-briefcase"></i></div>
                <h4 class="title"><a href="">Planes turísticos</a></h4>
                <p class="description">Puedes encontrar paquetes turísticos con precios increíbles para que puedas disfrutar de tus vacaciones al máximo.</p>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="box">
                <div class="icon"><i class="bi bi-card-checklist"></i></div>
                <h4 class="title"><a href="">Planificador de viajes</a></h4>
                <p class="description">Nuestro planificador de viajes le ayudará a organizar las vacaciones perfectas, además de publicar las fotografías de su preferencia.</p>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="box">
                <div class="icon"><i class="bi-cash"></i></div>
                <h4 class="title"><a href="">Conversor de moneda</a></h4>
                <p class="description">Elija moneda y escriba la cantidad de dinero que desea convertir, además compare productos locales </p>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="box">
                <div class="icon"><i class="bi-person-check"></i></div>
                <h4 class="title"><a href="">Niñeras</a></h4>
                <p class="description">Mujeres activas, confiables, empáticas, capacitadas y con vocación para proteger y acompañar a tus hijos/as durante tus vacaciones.  </p>
              </div>
            </div>
  
          </div>
        </div>
      </section><!-- End More Features Section -->
</main>
