@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

h1, p {
  font-family: 'Rowdies', cursive;
}

.error404 {

    min-height: 100vh;
}

.error404 h1 {

    font-size: 10rem;
}
