@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppis", sans-serif;
}
body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}



.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background-color: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.activate {
    width: 240px;

}

.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar.sidebar.activate .logo_content .logo {
    opacity: 1;
    pointer-events: none;

}


.logo_content .logo i {
    font-size: 20px;
    font-weight: 400;

}

.sidebar #btn {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.activate #btn {
    left: 90%
}

.sidebar ul {
    margin-top: 20px;

}

.sidebar ul li {
    position: relative;
    list-style: none;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}


.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background-color: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;

}

.sidebar ul li .bx-search {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.4s ease;
}

.sidebar ul li .bx-search:hover {
    background-color: #fff;
    color: #1d1b31;
}


.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #11101d;
}

.sidebar ul li  i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar.activate .links_name {
    opacity: 1;
    pointer-events: none;
}


/* styles home */

.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text {
    font-size: 25px;
    font-weight: 500;
    color:#1d1b31;
    margin: 12px;
}

.sidebar.activate ~ .home_content {
    width: calc(100% - 240px);
    left: 240px;


}


/* styles home */
