<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
<script src="proof.js"></script>


<div class="sidebar">
  <div class="logo_content">
      <div class="logo">
          <i class='bx bxs-leaf'></i>
          <div class="logo_name">Coding Lab</div>
      </div>
      <i class='bx bx-menu' id="btn" ></i>
  </div>
  <ul class="nav_list">
      <li>

          <i class='bx bx-search'></i>
          <input type="text" placeholder="Search...">

          <!-- <span class="tooltip">DashBoard</span> -->
      </li>
  </ul>
  <ul class="nav_list">
      <li>
          <a href="">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name" >Dashboard</span>
          </a>
          <!-- <span class="tooltip">DashBoard</span> -->
      </li>
  </ul>
  <ul class="nav_list">
      <li>
          <a href="">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name" >Dashboard</span>
          </a>
          <!-- <span class="tooltip">DashBoard</span> -->
      </li>
  </ul>
  <ul class="nav_list">
      <li>
          <a href="">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name" >Dashboard</span>
          </a>
          <!-- <span class="tooltip">DashBoard</span> -->
      </li>
  </ul>
  <ul class="nav_list">
      <li>
          <a href="">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name" >Dashboard</span>
          </a>
          <!-- <span class="tooltip">DashBoard</span> -->
      </li>
  </ul>
  <ul class="nav_list">
      <li>
          <a href="">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name" >Dashboard</span>
          </a>
          <!-- <span class="tooltip">DashBoard</span> -->
      </li>
  </ul>
  <ul class="nav_list">
      <li>
          <a href="">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name" >Dashboard</span>
          </a>
          <!-- <span class="tooltip">DashBoard</span> -->
      </li>
  </ul>
  <ul class="nav_list">
      <li>
          <a href="">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name" >Dashboard</span>
          </a>
          <!-- <span class="tooltip">DashBoard</span> -->
      </li>
  </ul>
  <ul class="nav_list">
      <li>
          <a href="">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name" >Dashboard</span>
          </a>
          <!-- <span class="tooltip">DashBoard</span> -->
      </li>
  </ul>
</div>

<section class="home_content">
  <div class="text">
      <h1>home content</h1>

  </div>
</section>

