
<section class="new_trip">

  <div class="title_trips">
    <h2>Lugares más visitados</h2>
  </div>

  <div class="trips_divs">

    <div class="default_div">
      <img src="assets/img/gallery/imgdefa.png" alt="visit-image">
    </div>
    <div class="default_div">
      <img src="assets/img/gallery/imgdefa.png" alt="visit-image">
    </div>
    <div class="default_div">
      <img src="assets/img/gallery/imgdefa.png" alt="visit-image">
    </div>
    <div class="default_div">
      <img src="assets/img/gallery/imgdefa.png" alt="visit-image">
    </div>
    <div class="default_div">
      <img src="assets/img/gallery/imgdefa.png" alt="visit-image">
    </div>
    <div class="default_div">
      <img src="assets/img/gallery/imgdefa.png" alt="visit-image">
    </div>


  </div>


</section>
