p, h1,h2, h3, h5{
  font-family: 'Fredoka', sans-serif;
}

p {
  font-size: 23px;
}

.new_trip {
  /* flex */
  display: flex;
  flex-flow: column ;
  justify-items: center;
  align-items: center;
  /* size */
  min-height: 50vh;
  max-height: 100vh;
  width: 100%;
  margin: 2.5vw;
  /* color */
  border-radius: 15px;
  background-color: #e7e7e7;
  overflow: visible;
}

.linkcreate {
  color: #00b7ff;
  font-weight: bolder;
  text-decoration: none;
}
.linkcreate:hover {
  color: #00dd63;
  font-weight: bolder;
}

.title_trips {
  display: flex;
  justify-content: center;
  margin: 1%;
}


.title_trips p {
  text-align: center;
  color: black;
  font-weight: 400;
  font-family: 'Fredoka', sans-serif;
}


.content_trips {
  display:flex;
  width: 70%;

}



/* text if doesn't exist trips */


.if_notrip {
  display: flex;
  align-items: center;
  justify-self: center;
  background-color: #fff;
  width: 50vw;
  height: 30vh;
  border-radius: 20px;
  padding: 10px;
}
.if_notrip h5{
  align-items: center;
  color: black;
  text-align: center;
}
/* ------NO TRIPS------ */

/* older trips */

.divs_info_trips {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  column-gap: 13%;
  row-gap: 8%;
  width: 100%;
}


.default_div {
  display: flex;
  flex-direction: column;
  width: 28%;
  height: 220px;
}


.content-pub {
  /* position: absolute; */
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  column-gap: 7%;
  min-width: 90%;
  max-width: 100%;
  min-height: 40vh;
  max-height: 100vh;
  /* min-height: 90vh;
  max-height: 150vh; */
  padding: 2%;
}



.content {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-self: flex-start;
  text-align: center;
  width: 100%;
  height: 45%;
  background: rgb(0, 174, 255);

}

.content p{
  margin-top: 25px;
  color: white;
  font-size: 20px;

}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 120px;
}

