<app-navbar></app-navbar>
<div class="container">
    <div class="contents_container">
        <form >
            <input class="form-control" type="text" placeholder="Nombre" aria-label="default input example"> 
            <!-- <span> No se puede ingresar caracteres especiales</span> -->
            <input class="form-control" type="text" placeholder="Apellido" aria-label="default input example">
            <!-- <span> No se puede ingresar caracteres especiales</span> -->
            <input class="form-control" type="email" placeholder="Email" aria-label="default input example">
            <!-- <span> No se puede ingresar caracteres especiales</span> -->
            <input class="form-control" type="text" placeholder="Contraseña" aria-label="default input example">
            <!-- <span> No se puede ingresar caracteres especiales</span> -->
            <input class="form-control" type="text" placeholder="Repite la contraseña" aria-label="default input example">
            <!-- <span> No se puede ingresar caracteres especiales</span> -->
            <input class="form-control" type="text" placeholder="Número Telefonico" aria-label="default input example">
                <!-- <span> No se puede ingresar caracteres especiales</span> -->
            <select class="form-select" aria-label="Default select example">
                <option selected> Rol </option>
                <option value="1"> Cliente</option>
                <option value="2"> Anunciante</option>
                <option value="3"> Niñera</option>
            </select>
            
            <button class="btn btn-primary form-control">Regístrate </button>

        </form>
    </div>

    <div class="img_container">
        ¡CREA TU CUENTA DE <b>  {{register.brand}}</b>!
        <div>
            <img src="{{register.img}}" alt="Image planet">
        </div>
    </div>

</div>