
p, h2, h1{
  font-family: 'Fredoka', sans-serif;
}

.container_plan{
    display: flex;
    align-items: center;
    justify-items: center;
    /* background-color: rgb(47, 177, 194); */
    border-radius: 15px;
    height: 200px;
    margin-left: 0%;
    /* margin-right: 20px; */
    width: 100%;

}
div{
    /* background-color: aqua; */
    border-radius: 10px;
    width: 400px;
    margin-left: 50px;

}
div img{
    /* background-color: aqua; */
    width: 400px;


}
.write_plan{
    background-color: aliceblue;
    border-radius:15px;
    padding: 10px;
    text-decoration: none;

}
a {
  color: #0093b4;
  text-decoration: none;

}
a:hover{
color: #00b960;


}
