
<div class="new_trip">

  <!-- <div> -->
    <div class="title_trips">
      <h2> Tus últimos Viajes </h2>
    </div>

    <div class="trips_divs">
      <div class="add_trip">
        <img src="assets/img/addicon.png" alt="icon">
        <h4> Crear nuevo Viaje</h4>
      </div>

      <div class="default_div">
        <img src="assets/img/gallery/imgdefa.png" alt="default">
        <!-- <div class="descrip_div"></div> -->
        <p>
          Lorem ipsum dolor sit amet, consectetur
          adipisicing elit.
        </p>
      </div>
      <div class="default_div">
        <img src="assets/img/gallery/imgdefa.png" alt="default">
        <!-- <div class="descrip_div"></div> -->
        <p>
          Lorem ipsum dolor sit amet, consectetur
          adipisicing elit.
        </p>
      </div>
      <div class="default_div">
        <img src="assets/img/gallery/imgdefa.png" alt="default">
        <!-- <div class="descrip_div"></div> -->
        <p>
          Lorem ipsum dolor sit amet, consectetur
          adipisicing elit.
        </p>
      </div>

    <!-- </div> -->


  </div>




</div>
