
.blocks {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 5%;
  /* height: 200vh; */
  min-width: 15vw;
  max-width: 70vw;
  width: 100%;
  left: calc( 48% - 25% );
  min-height: 100vh;
  max-height: 150vh;
  /* top: 100px ; */
}
