<input type="checkbox" name="" id="chk">
<label for="chk" class="show-button">
    <i class="fas fa-bars"></i>
</label>

<input type="checkbox" name="" id="chk">
<label for="chk" class="hidden-button">
    <i class="fas fa-times"></i>
</label>

<div class="sidebar">
    <ul>
        <ul>
           <div class="profile">
            <li><a href=""><i class="fa-solid fa-user-gear"></i><span>Administrador</span></a></li>
            </div> 
        </ul>
        <li><a href=""><i class="fas fa-user-plus"></i><span>Agregar usuario</span></a></li>
        <li><a href=""><i class="fas fa-user-edit"></i><span>Editar usuario</span></a></li>
        <li><a href=""><i class="fas fa-user-times"></i><span>Eliminar usuario</span></a></li>
        <li><a href=""><i class="fas fa-users"></i><span>Ver todos</span></a></li>
    </ul>
    <ul>
        <div class="logout">
            <a href=""><i class="fas fa-power-off"></i><span>Cerrar sesión</span></a>
        </div>
    </ul>
</div>
