<header id="header" class="fixed-top d-flex align-items-center header-scrolled">
  <div class="container d-flex justify-content-between align-items-center">

    <div id="logo">
    <!-- <h1><a href="index.html">Skytrip</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html"><img src="../../../assets/img/logo-nav-bar-removebg-preview (1) (1) (1).png" alt=""></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="/" class="nav-link scrollto active" href="#">Inicio</a></li>
        <li><a routerLink="/newtrip" class="nav-link scrollto" href="#">Planifica tu viaje</a></li>
        <li><a routerLink="/plan" class="nav-link scrollto" href="#">Planes turísticos</a></li>
        <li><a routerLink="/money" class="nav-link scrollto" href="#">Conversor</a></li>
        <li><a routerLink="/nana" class="nav-link scrollto" href="#">Niñeras</a></li>
        <li><a routerLink="/register" class="nav-link scrollto" href="#">Regístrate</a></li>
        <li><a routerLink="/login" class="nav-link scrollto" href="#">Inicia sesión</a></li>
      </ul>
    </nav><!-- .navbar -->
  </div>



</header><!-- End Header -->

